:root{
    --color-base: #d8d4d1;
    --color-marco:#797688;
    --color-pantalla:#9ca04c;
    --color-botones:#71001a;
    --color-cruz: #06090e;  
    --color-sombra:#9e9ba1;
}
body{background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #35edc2);
	background-size: 400% 400%;
	animation: animacionFondo 15s ease-in-out infinite;
	height: 100vh;
    margin: 0;}


.contenedor{
    width: 100%;
    position: relative;
}

.cuerpo{
width: 250px;
height: 390px;
background-color:var(--color-base);
position: absolute;
transform: translate(-50%);
left: 50%;
top: 90px;
border-radius: 15px 15px 60px 15px;
box-shadow: -30px 30px 50px rgba(18,19,16,0.7);

}

.marcodepantalla{
    width: 200px;
    height: 150px;
    background-color:var(--color-marco);
    position: absolute;
    left: 25px;
    top: 25px;
    border-radius: 5px 5px 30px 5px;
}

.pantalla{
    width: 150px;
    height: 120px;
    background-color: var(--color-pantalla);
    position: absolute;
    left: 25px;
    top: 15px;
    box-shadow:inset 5px 5px 15px 1px rgba(0,0,0,0.6);
}
.contenedor-texto{
    position: absolute;
    top:165px;
    left:25px;
}
.contenedor-texto p{
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 44, 144);
    font-weight: 700;
}
.contenedor-cruz{
    width: 80px;
    height: 80px;
    background-color:var(--color-base);
    position: relative;
    top: 215px;
    left: 20px; 
    border-radius: 50%;  
    box-shadow:inset -5px 5px 13px -10px rgba(0,0,0,0.41);
}
.cruz{
    width: 20px;
    height: 70px;
    background-color:var(--color-cruz);
    position: absolute;
    top: 220px;
    left: 50px;
}
.cruz::after{
    content:'';
    width: 20px;
    height: 70px;
    background-color:var(--color-cruz);
    position: absolute;
    top: 0px;
    left:0px;
    transform: rotate(90deg);
}
.contenedor-botones{
    width: 90px;
    height: 40px;
    background-color:var(--color-base);
    position: relative;
    top: 155px;
    left: 150px; 
    border-radius: 40%;  
    box-shadow:inset -5px 5px 13px -10px rgba(0,0,0,0.41);
    transform: rotate(-30deg);
}


.botones-B{
    width: 30px;
    height: 30px;
    background-color:var(--color-botones);
    position: absolute;
    top: 252px;
    left: 160px;
    border-radius: 50%;
    box-shadow: inset 0px 9px 10px -9px rgba(255,255,255,1);
    transform: rotate(-30deg);
}

.botones-A{
    content:'';
    width: 30px;
    height: 30px;
    background-color:var(--color-botones);
    position: absolute;
    top: 230px;
    left: 200px;
    border-radius: 50%;
    box-shadow: inset 0px 9px 10px -9px rgba(255,255,255,1);
    transform: rotate(-30deg);
}

/* --- Efecto pulsación botón --- */
.botones-B:hover, .botones-A:hover{
    box-shadow: none;
    cursor: pointer;
}

.botones-B p, .botones-A p{
    font-size: 10px;
    padding-top: 25px;
    padding-left: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 44, 144);
    font-weight: 700;
    
}
p {font-size: 25px;}

.contenedorselect,.contenedorstart{
    width: 40px;
    height: 15px;
    background-color:var(--color-base);
    position: relative;
    border-radius: 30%;  
    box-shadow:inset 8px 5px 13px -8px rgba(0,0,0,0.41);
    transform: rotate(-25deg);
}
.select{
    width: 30px;
    height: 10px;
    background-color:var(--color-sombra);
    position: absolute;
    top: 330px;
    left: 90px;
    border-radius: 10px;
    transform: rotate(-25deg);
}
.contenedorselect{
      top: 207px;
    left: 85px; 
}
.contenedorstart{
    top: 192px;
    left: 130px;
}
.start{
    width: 30px;
    height: 10px;
    background-color: var(--color-sombra);
    position: absolute;
    top: 330px;
    left: 135px;
    border-radius: 10px;
    transform: rotate(-25deg);
}
/*----- Efecto pulsación botón ---*/
.start:hover, .select:hover{
    background-color:#716d74;
    cursor: pointer;
}

.start p, .select p{
    font-size: 8px;
    padding-top: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(44, 44, 144);
    font-weight: 700;
    
}
p {font-size: 25px;}

.contenedor-altavoz{
    display: flex;
    position: absolute;
    top:340px;
    left:176px;
    transform: rotate(-25deg);

}

.altavoz{
    width: 4px;
    height: 30px;
    margin-left: 6px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.41);
    border-radius: 10px;
    
}

/* ---------------------- ANIMACIONES ---------------------- */

/* --- Animación del fondo ---*/
@keyframes animacionFondo {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}